/*:root {
    --bs-dark-rgb: 37, 19, 26;
    --bs-secondary-rgb: 84, 55, 64;
    --bs-card-title-color: white;
    --google-yellow: #F4B400;
    --google-yellow-rgb: 244, 180, 0;
}

/* Navbar START */
/*@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.navbar a {
    color: white;
}

/* Navbar END */

/* General START */
a, .card a {
    text-decoration: none;
}

#content .row {
    width: 100%;
}

.gold-star {
    color: var(--google-yellow);
}

/* General END */

/* Category levels START */

/*#content #categories .card {
    max-width: max(540px, 50vw);
}

@media (min-width: 768px) {
    #content #categories .card .text-md-end {
        text-align: right !important;
    }
}

/* Category levels END */

/* Level Editor START */

/*#phaserDiv .selector-icon:hover {
    cursor: pointer;
}

/* Level Editor END */

/* Offline file START */

/*.title {



    color: white;
}

/* Offline file END */

/*NUEVO*/

:root {
    --bs-dark-rgb: 37, 19, 26;
    --bs-secondary-rgb: 84, 55, 64;
    --bs-card-title-color: white;
    --google-yellow: #F4B400;
    --google-yellow-rgb: 244, 180, 0;
}


/* Navbar ajustes */
.navbar {
    padding: 0.5rem 1rem;
}

.navbar-brand a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navbar-brand img {
    margin-right: 0.5rem;
}

/* Categorías ajustes */
#categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

/* Ajustes en modales */
.modal-header {
    padding: 1rem;
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

.modal .btn {
    margin: 0.5rem;
}   




/* Responsividad */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    #categories {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (min-width: 1025px) {
    #categories {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}
